<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
<body>  

    {{>nav}}

    <div>
        <div class="top">
            <h1>Top 10 COVID 19 Affected Countries</h1>
        </div>
    </div>

    {{!-- Card 1 --}}
    <div class="container">
        <div>
            <div class="first">
            <div class="card" style="width: 18rem;">
  <img id="first-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-first" class="card-text">No.1</h6>
    <h5 id="country-first" class="card-title">Card title</h5>
    <h6 id="first-case" class="card-text">No.1</h6>
    <h6 id="first-death" class="card-text">No.1</h6>
  </div>
</div>
{{!-- Card2 --}}
<div class="card" style="width: 18rem;">
  <img id="sec-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-sec" class="card-text">No.1</h6>
    <h5 id="country-sec" class="card-title">Card title</h5>
    <h6 id="sec-case" class="card-text">No.1</h6>
    <h6 id="sec-death" class="card-text">No.1</h6>
  </div>
</div>
            </div>
<div class="first">
{{!-- Card-3 --}}
<div class="card" style="width: 18rem;">
  <img id="third-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-third" class="card-text">No.1</h6>
    <h5 id="country-third" class="card-title">Card title</h5>
    <h6 id="third-case" class="card-text">No.1</h6>
    <h6 id="third-death" class="card-text">No.1</h6>
  </div>
</div>
{{!-- Card-4 --}}
<div class="card" style="width: 18rem;">
   <img id="four-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-four" class="card-text">No.1</h6>
    <h5 id="country-four" class="card-title">Card title</h5>
    <h6 id="four-case" class="card-text">No.1</h6>
    <h6 id="four-death" class="card-text">No.1</h6>
  </div>
  </div>
</div>
<div class="first">
{{!-- Card-5 --}}
<div class="card" style="width: 18rem;">
  <img id="fifth-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-fifth" class="card-text">No.1</h6>
    <h5 id="country-fifth" class="card-title">Card title</h5>
    <h6 id="fifth-case" class="card-text">No.1</h6>
    <h6 id="fifth-death" class="card-text">No.1</h6>
  </div>
</div>
{{!-- Card-6 --}}
<div class="card" style="width: 18rem;">
 <img id="six-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-six" class="card-text">No.1</h6>
    <h5 id="country-six" class="card-title">Card title</h5>
    <h6 id="six-case" class="card-text">No.1</h6>
    <h6 id="six-death" class="card-text">No.1</h6>
  </div>
  </div>
</div>
<div class="first">
{{!-- Card-7 --}}
<div class="card" style="width: 18rem;">
  <img id="seven-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-seven" class="card-text">No.1</h6>
    <h5 id="country-seven" class="card-title">Card title</h5>
    <h6 id="seven-case" class="card-text">No.1</h6>
    <h6 id="seven-death" class="card-text">No.1</h6>
  </div>
</div>
{{!-- Card-8 --}}
<div class="card" style="width: 18rem;">
  <img id="eight-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-eight" class="card-text">No.1</h6>
    <h5 id="country-eight" class="card-title">Card title</h5>
    <h6 id="eight-case" class="card-text">No.1</h6>
    <h6 id="eight-death" class="card-text">No.1</h6>
  </div>
</div>
</div>
<div class="first">
{{!-- Card-9 --}}
<div class="card" style="width: 18rem;">
  <img id="nine-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-nine" class="card-text">No.1</h6>
    <h5 id="country-nine" class="card-title">Card title</h5>
    <h6 id="nine-case" class="card-text">No.1</h6>
    <h6 id="nine-death" class="card-text">No.1</h6>
  </div>
</div>
{{!-- Card-10 --}}
<div class="card" style="width: 18rem;">
  <img id="ten-img" src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="no-ten" class="card-text">No.1</h6>
    <h5 id="country-ten" class="card-title">Card title</h5>
    <h6 id="ten-case" class="card-text">No.1</h6>
    <h6 id="ten-death" class="card-text">No.1</h6>
  </div>
</div>
</div>
        </div>
    </div>
    {{>footer}}
    <script src="../js/main.js"></script>
</body>
</html>