<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    {{>nav}}

    <div class="img-div">
        <div class="mains">
            <div class="sec-div">
                <h1>Hello,I am <span class="kanishk"> Kanishk</span> Upadhyay</h1>
            </div>
            <div class="third-div">
                <p class="want">Want to know the most COVID affected countries?</p>
                <a class="lin" href="/covid"><button class="check btn">Check</button></a>
            </div>

        </div>
    </div>
    {{>footer}}
    <script src="../js/main.js"></script>
</body>

</html>